@charset "UTF-8";

* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-image: linear-gradient(to top, #190019, #2B124C, #522B5B, #854F6C, #DFB6B2, #FBE4D8);
  background-attachment: fixed;
  margin: 50px;
}

.container {
  background-color: white;
  margin: 20px;
}